<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project.name, project_path(project) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No projects.</p>
<% end %>


<p><%= link_to "add project", new_project_path %></p><br>

<p><%= link_to "view posts", posts_path %></p>

<p><%= link_to "sign up", new_user_registration_path %></p>

<p><%= link_to "sign in", user_session_path%></p>

<p><%= link_to "sign out", destroy_user_session_path%></p>