<h1>edit posting</h1>

<%= form_for @post do |f| %>
  <%= f.label :subject %>
  <%= f.text_field :subject %>
  <%= f.label :content_body %>
  <%= f.text_field :content_body  %>
  <%= f.submit  %>
<% end %>